.scrollButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  @apply p-3;
  cursor: pointer;
  transition:
    opacity 0.3s,
    visibility 0.3s;
  opacity: 0;
  visibility: hidden;
}

.scrollButton.visible {
  opacity: 1;
  visibility: visible;
}
